*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    background: #008eea;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    margin-right: 10px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #003785;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 100vh !important;
    background: #84b6f4;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 100px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

p {
    margin-bottom: 40px;
    font-size: 35px;
    color: white;
    padding: 0 100px;
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}